.viewport {
  height: 80vh;
  width: 500px;
  background: #fff;
  border-radius: 5px;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
